@import "./base.css";

/* ========================= */
/*      MEDIA QUERIES        */
/* ========================= */

/* Mobile */
@media (max-width: 47.9375rem) {
  .header {
    height: 4.375rem;
    padding: 0 0.9375rem;
  }

  .header__logo {
    font-size: 1.125rem;
  }

  .header__right {
    gap: 0.9375rem;
  }

  .header__list {
    background-color: rgba(245, 244, 245, 0.95);
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    min-width: 6.25rem;
  }

  .header__list-item,
  .header__list-item--active {
    font-size: 0.75rem;
    padding: 0.5rem 0;
    min-width: 6.2rem;
  }

  .header__avatar-link {
    height: 1.5625rem;
  }
}

/* Tablet e Desktop */
@media (min-width: 48rem) {
  html,
  body {
    height: auto;
    overflow: auto;
    position: static;
  }

  header,
  .header {
    height: 4.5rem;
    padding: 1.5625rem 2rem;
  }

  .header__logo {
    font-size: 2rem;
  }

  .header__right .header__nav {
    align-self: center;
  }

  .header__nav.active .header__list{
    top: 6.5rem;
  }

  .header__right a,
  .header__avatar {
    width: 40px;
    height: 40px;
    order: 1;
    align-self: center;
  }

  .section--home .section--home__cta {
    position: relative;
    bottom: -50%;
  }

  .proxima-secao {
    font-size: 1.5rem;
  }

  .section--tecnologias .proxima-secao {
    padding-right: 4.6875rem;
  }

  .section--tecnologias .proxima-secao p {
    font-size: 1.375rem;
  }

  .section--tecnologias .proxima-secao img {
    width: 2.5rem;
    height: auto;
  }

  .main-tech .section--home .section--home__text-group h2,
  .main-objetivos .section--home .section--home__text-group h2,
  .main-publico-alvo .section--home .section--home__text-group h2,
  .main-beneficios .section--home .section--home__text-group h2,
  .main-uso_diario .section--home .section--home__text-group h2 {
    font-size: 1.25rem;
    line-height: normal;
    width: 25.3125rem;
  }

  .main-tech .section--home .section--home__text-group h1,
  .main-objetivos .section--home .section--home__text-group h1,
  .main-publico-alvo .section--home .section--home__text-group h1,
  .main-beneficios .section--home .section--home__text-group h1,
  .main-uso_diario .section--home .section--home__text-group h1 {
    font-size: 6rem;
    line-height: 5.1875rem;
  }

  .section--tecnologias .card-group .card {
    width: 40vw;
    height: 40vh;
  }

  .section--home {
    display: grid;
    justify-content: center;
    background-color: white;
  }

  main .section--home__text-group {
    position: relative;
    background-color: white;
  }

  .main-problema .section--home .section--home__text-group h1 {
    font-size: 14.0625rem;
  }

  .main-problema .section--home .section--home__text-group h2 {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    font-size: 1.125rem;
    width: 18.125rem;
    font-weight: bold;
    mix-blend-mode: difference;
  }

  .section--home__cta {
    font-size: 1rem;
  }

  .section--home__cta img {
    height: 2.8125rem;
    width: 6.875rem;
  }

  .section--video__text-group {
    padding: 4.6875rem;
  }

  .section--video__text-1 {
    font-size: 3rem;
    align-self: flex-start;
  }

  .section--video__inner-texts {
    width: fit-content;
    align-self: flex-end;
  }

  .section--video__inner-texts .section--video__text-2 {
    font-size: 6rem;
  }

  .section--video__inner-texts .section--video__text-3 {
    font-size: 2.375rem;
  }

  .section--video__inner-texts .section--video__text-4 {
    font-size: 1.5625rem;
  }

  .section--video__bg {
    left: 0;
  }

  .section--descricao-problema__bg {
    width: 100%;
    left: 0;
  }

  .section--descricao-problema .slide {
    padding: 3.125rem;
  }

  .section--descricao-problema .slide-nav .slide-status p {
    font-size: 1.5rem;
  }

  .section--descricao-problema .slide-nav img {
    width: 1.5625rem;
    height: 2.1875rem;
  }

  .problem-content .content {
    max-width: 40vw;
    width: 100%;
    height: fit-content;
    padding: 1.5625rem;
  }

  .problem-content .subtitulo h3 {
    font-size: 2rem;
  }

  .problem-content .content-text p {
    font-size: 1.375rem;
  }

  .main-tech .section--home .section--home__text-group h1 {
    width: 44.6875rem;
    line-height: 5.125rem;
  }

  .main-tech .section--tecnologias,
  .main-uso_diario .section--tecnologias {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3.125rem;
  }

  .main-tech .section--tecnologias:nth-child(odd),
  .main-uso_diario .section--tecnologias:nth-child(odd) {
    background-color: var(--branco);
  }

  .main-tech .section--tecnologias:nth-child(odd) .content,
  .main-uso_diario .section--tecnologias:nth-child(odd) .content {
    order: 0;
  }

  .main-tech .section--tecnologias .section--tecnologias__bg,
  .main-uso_diario .section--tecnologias .section--tecnologias__bg {
    width: 50vw;
    height: fit-content;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 1.1875rem 0rem rgba(0, 0, 0, 0.26);
    align-self: center;
  }

  .main-tech .section--tecnologias .content,
  .main-uso_diario .section--tecnologias .content {
    width: 45vw;
    height: 100%;
    align-self: center;
    justify-self: end;
    padding: 3.125rem;
  }

  .section--tecnologias .content .subtitulo {
    font-size: 2.25rem;
    align-self: flex-start;
  }

  .section--tecnologias .content .content-text p:nth-child(1),
  .section--tecnologias .content .content-text p:nth-child(2) {
    text-align: left;
    font-size: 1.5rem;
  }

  .section--tecnologias .content .proxima-secao {
    right: 0;
  }

  .main-objetivos .section--home__text-group h1 {
    width: 35.3125rem;
  }

  .main-objetivos .section--home .section--home__bg {
    width: 39.375rem;
    height: auto;
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .main-objetivos .section--objetivos .slide-card-container {
    padding: 6.25rem 3.125rem 1.5625rem;
    gap: 3.125rem;
  }

  .main-objetivos .section--objetivos .slide-card-container .subtitulo {
    font-size: 3rem;
  }

  .main-objetivos .section--objetivos .slide-card-container .content-text {
    font-size: 1.5rem;
    max-width: 32.8125rem;
  }

  .main-objetivos .section--objetivos .slide-card-container .slide-card {
    height: 15.625rem;
    max-width: fit-content;
  }

  .main-publico-alvo .section--tecnologias .content,
  .main-publico_alvo .section--tecnologias .content {
    padding: 3.125rem;
  }

  .main-publico-alvo .section--tecnologias:nth-child(even) .content .subtitulo,
  .main-publico_alvo .section--tecnologias:nth-child(even) .content .subtitulo {
    align-self: flex-start;
  }

  .main-publico-alvo .section--tecnologias .content .proxima-secao,
  .main-publico_alvo .section--tecnologias .content .proxima-secao {
    bottom: -35%;
  }

  .main-beneficios .section--home .section--home__bg {
    width: 37.8125rem;
    height: auto;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
  }

  .main-uso-diario .section--home .section--home__bg,
  .main-uso_diario .section--home .section--home__bg {
    width: 38.75rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer .footer-bg{
    height: 33%;
  }
}
